body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 1400px;
    background: #EFE6E4;
}
.header {
    background-image: url(img/MaskGroup.jpg);
    height: 715px;

}
.logo{
    display: flex;
}

.logo-item {
    width: 25.34px;
    height: 25px;
    grid-area: logo;
    margin-left: 92.32px;
    margin-top: 36px;
}
.header-top{
    display:grid;
    grid-template-columns: 230px 1fr;
}
.logo-text {
    width: 64.87px;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
    margin-top: 40px;
}
.navigation-list{
    display: flex;
  justify-content: space-between;
  margin-top: 0;
  list-style-type: none;
}
.navigation-list a {
    text-decoration: none;
    color: #533738;
}
.top-menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;   
    color: #533738;
    margin-top: 38px;
    display: flex;
  justify-content: space-between;
}
.company{
    margin-right: 26.44px;
    left: 278px;
}
.pholio{
    margin-right: 26px;
}
.team-items{
    margin-right: 26.16px;
}
.work-items{
    margin-right: 26.36px;
}
.slider-items{
    margin-right: 26.32px;
}
.form-items{
    margin-right:34.76px;
}
.header-h1 {
    width: 534.02px;
    height: 186px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #533738;
    margin-left: 184.08px;
   
    margin-bottom: 0;
}
.header-center-text {
    margin-top: 24px;
    margin-left: 184.08px;
width: 493.57px;
height: 90px;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #533738;
margin-bottom: 0;

}
.button {
    background: #CC8B86;
    padding-top: 25px;
    padding-left: 67.91px;
    padding-right: 65.88px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    border: none;
}
.button:hover{
    cursor: pointer;
}
.header-button{
    margin-left: 182px;
    background: #CC8B86;
    padding-top: 25px;
    padding-left: 67.91px;
    padding-right: 65.88px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    border: none;
    margin-bottom: 168px;
    margin-top: 21px;
    width: 309.14px;
    text-decoration: none;
}
.me {
    grid-template-columns: 700px 700px;
    grid-template-areas: "me me"
                         "img text"
                         "skills skills";
}

.me-text {
height: 50px;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #533738;
grid-area: me;
text-align: center;
}
.logo-egg {
    width: 507.54px;
    height: 572.39px;
    grid-area: img;
    margin-left: 182px;
    float: left;
}
.me-item {
    width: 1181px;
    height: 330px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    grid-area: text;
}
.skills {
    width: 1400px;
    height: 273px;
    background: #8D7370;
    display: flex;
    justify-content: space-around;
    grid-area: skills;
    align-items: center;
}
.skills-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-number-1 {
    height: 62px;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
}
.skills-number-2 {
    height: 62px;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    align-self: center;
}
.skills-number-3 {
    height: 62px;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
}
.skills-text{
    height: 37px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.work-h2 {
    height: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
}
.studio { 
    width: 488px;
    height: 451px;
    position: relative;
}
.studio:hover .overlay{
    position: absolute;
    display: block;
    background-color:rgba(100, 72, 69, 0.8);
    }
.studio:hover .hover-text{
display: block;
cursor: pointer;

}
.hover-text{
    position: absolute;
    top: 53px;
    left: 61px;
    text-align: center;
    display: none;
}
.overlay{
    display: none;
    width: 488px;
    height: 451px;
    cursor: pointer;
}
.work-h3 { 
    width: 270px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 45px;
    
}
.work-png{
    display:flex;
  flex-wrap:wrap;
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
}
.work-text{
    width: 418px;
    height: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: start;
    margin-left: -25px;
}
.living-room{
    width: 692px;
    height: 451px;
}
.kitchen {
    width: 692px;
    height: 451px;
}
.bathroom {
    width: 488px;
    height: 451px;
}
.all-item {  
    height: 37px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
}
.all-item a{
    text-decoration: none;
    color: #533738;
}
.all-logo {
    width: 60px;
    height: 0px;
    border: 2px solid #533738;
}
.team {
    background: #E2C4BA;
   padding: 50px 100px 80px;
}
.team-item-text {
    height: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;

}
.team-item {
    width: 320px;
    display: inline-block;
}
.team-top{
    display: flex;
  justify-content:center;

}
.team-item:nth-child(1){
    margin-right: 38px;
}
.team-item:nth-child(2){
    margin-right: 38px;
}
.team-bottom{
    display: flex;
  justify-content: space-between; 
}
.team-text {
    width: 320px;
    height: 180px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}
.team-h2 {
    text-align: center;
    height: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
}
.work-item ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.work-item-number{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #8D7370;
    margin-left: 100px;
   text-align: center;
}
.work-item-number span{
    display: block;
    padding-top: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}
.work-item-text {
    width: 285px;
    height: 120px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #533738;
}
.work-item {
    gap: 20px;
}
.slider-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slider-h2 {
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
}
.slider-item-best-text {
    width: 407px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}
.slider-item{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.slider-item-name {
    width: 180px;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}
.slider-item-img {
    width: 407px;
}
.slider-item-img img:nth-child(1) {
    margin-bottom: 24px;
}

.right,
.left:hover{
    cursor: pointer;
}
.right{
    margin-left: 20px;
    width: 72px;
    height: 72px;
    background: #CC8B86;
    border: none;
    border-radius: 50px;

}
.left{
    margin-right: 20px;
    width: 72px;
    height: 72px;
    background: #CC8B86;
    border-radius: 50px;
    border: none;
   
    
}
.footer-left{
    margin-left: 182px;
}
.footer-left-right {
    width: 1400px;
    background: #8D7370;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.footer-right {
    margin-right: 101px;
    width: 590px;
    height: 624px;
}
.footer-h2 {
    width: 474px;
    height: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-text {
    width: 507px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 44px;
    margin-top: 0;
}
.form-name {
    width: 508px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background: #8D7370;
}
.form-name:nth-child(1){
    margin-bottom: 35px;
}
.form-name:nth-child(2){
    margin-bottom: 31px;
}
input[type=text]::placeholder {
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
}
.footer-bottom{
    display: flex;
}
.footer-bottom-number {
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    margin-left: 100px;
    margin-right: 42px;
}
.footer-bottom-place {
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    margin-right: 379px;
}

.footer-bottom-name {
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    margin-right: 100px;
}